<!-- views/about.ejs -->
<%- include('layouts/main-layout', { title: 'About' }) %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        p {
            font-size: 16px;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <header>
        <h1>About</h1>
    </header>
    <section>
        <img src="images/mypic.jpeg" alt="Profile Image">
        <h1>Krishna Sagar</h1>
        <p>I am a passionate and dedicated individual working as a Software Engineer. With a strong background in website development using Express and Node, I strive to create innovative solutions and build scalable and secure systems. My skills include working with MongoDB, MySQL/PostgreSQL, and utilizing npm (Node Package Manager) efficiently. I believe in the power of technology to enhance connectivity and drive ethical and responsible development.</p>
        <h3>Contact Information</h3>
        <div class="socialmedia">
            <a href="https://www.linkedin.com/in/krishna-sagar-88a588229/" target="">
                <img style="width: 30;height: 30;" src="images/linkedIn.png" alt="LinkedIn Logo">
            </a>
            <a href="https://github.com/" target="">
                <img style="width: 30;height: 30;" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo">
            </a>                
            <a href="https://www.instagram.com/_krishna.sagar_?igshid=OGQ5ZDc2ODk2ZA==" target="">
                <img style="width: 30;height: 30;" src="images/Instagram.png" alt="Instagram Logo">
            </a>
            <a href="mailto:sagarkrishna2404@gmail.com" target="">
                <img style="width: 30;height: 30;" src="images/gmail.png" alt="Instagram Logo">
            </a>
            

        </div>
    </section>
    <footer>
        <p>&copy; 2023 Your Portfolio</p>
    </footer>
</body>
