<!-- views/about.ejs -->
<%- include('layouts/main-layout', { title: 'Home' }) %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Portfolio</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
            text-align: center;
        }

        section {
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }


        p {
            font-size: 16px;
            line-height: 1.6;
        }

    </style>
</head>
<body>

    <header>
        <h1>Home</h1>
    </header>

    <section>
        <p>Thank you for visiting My Portfolio. Explore and learn more about me and my work.</p>

        <h3>Mission Statement</h3>
        <p>With a passion for precision and innovation, we engineer software solutions that redefine possibilities, streamline processes, and leave a lasting imprint on the digital landscape.</p>

        <button onclick="location.href='/about'">About Me</button>
        <!-- You can add more buttons for other pages if needed -->

    </section>
    <footer>
        <p>&copy; 2023 Your Portfolio</p>
    </footer>
</body>
