<!-- views/projects.ejs -->
<%- include('layouts/main-layout', { title: 'Projects' }) %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
            text-align: center;
        }

        section {
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }


        .project {
            margin-bottom: 30px;
        }

        img {
            max-width: 10%;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    <header>
        <h1>Projects</h1>
    </header>

    <section>
        <div class="project">
            <img src="images/multiplicationTable.png" alt="MuliplicationTable">
            <h2>Muliplication Table</h2>
            <p><strong>Role:</strong> Student</p>
            <p><strong>Outcome:</strong> User can use to get table to helpthemselves for multiplication.</p>
        </div>

        <div class="project">
            <img src="images/bugsmasher.png" alt="bugsmasher">
            <h2>Bug Smasher</h2>
            <p><strong>Role:</strong> Student</p>
            <p><strong>Outcome:</strong> Victory! tap the bug on the screen, where the speed of bug increases with time. moment you fail to tap the bug you loose.</p>
        </div>

        <div class="project">
            <img src="images/slideshow.png" alt="slideshow">
            <h2>Slide Show</h2>
            <p><strong>Role:</strong> Student</p>
            <p><strong>Outcome:</strong> Intractive slide show with beautiful pictures of nature.</p>
        </div>
    </section>
    <footer>
        <p>&copy; 2023 Your Portfolio</p>
    </footer>
</body>
