<%- include('layouts/main-layout', { title: 'Service' }) %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
            text-align: center;
        }

        

        .service {
            margin-bottom: 30px;
        }

        .service img {
            max-width: 100px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    <header>
        <h1>Services</h1>
    </header>

    <section>
        <div class="service">
            <img src="images/designing.png" alt="Programming Service Image">
            <h2>DESIGN</h2>
            <p>Excel in unmistakable quality creative’s that business enterprise need- to make people understand the undeniable quality products and services that they possess.delivering affordable attractive way of designs that brings in success for many start-ups and business owners till date.</p>
        </div>

        <div class="service">
            <img src="images/web.png" alt="Web Development Service Image">
            <h2>Web Development</h2>
            <p>Expert experienced designers judiciously make the most creative and customise way of representation of one’s information’s – suggesting the best way via concept to completion. The budgets of the WebPages are value for money for all business owners – this is what I boost on till date.</p>
        </div>

        <div class="service">
            <img src="images/solutions.png" alt="Mobile Apps Service Image">
            <h2>Solution</h2>
            <p>Pioneer in many other services such as niche services and fix almost all problems related to online business need.</p>
        </div>

        <!-- Add more services with images and descriptions as needed -->
    </section>
    <footer>
        <p>&copy; 2023 Your Portfolio</p>
    </footer>
</body>
